.table {
    width: 100%;
    border-spacing: 0;
}

tr.border_bottom td {
    border-bottom: 1px solid var(--light-gray);
}

tr.odd td {
   
}

.table td {
    padding: .5rem 1rem;
}

.table > thead > tr > td {
    font-weight: 600;
}